<div class="col-md-12 mb-4">
    <div class="blog-card d-flex flex-column align-items-center gap-1 p-0 cp">
        <div class="h-100 d-flex p-0 justify-content-center align-items-center blog-img-container position-relative">
            <p class="position-absolute m-2 start-0 top-0 bg-light rounded-4 p-1 px-2 fs-13 fw-600 fc-g">{{ blog_date.slice(0,10) | date:'dd MMM' }} </p>
            <img [src]="backendHost+'/image/'+image" class="blog-img w-100 h-100 top-0 left-0" height="40%">
        </div>
        <div class="h-100 article-text w-100 d-flex flex-column justify-content-center align-items-start">
            <h2 class="article-title">{{title.length > 20 ? title.slice( 0 , 20 ) +"..." : title}}</h2>
            <p class="article-description">{{ description }} </p>
            <p class="article-description">{{ nbrCommantaire?nbrCommantaire:0 }} commantaire </p>
        </div>
    </div>
</div>
