<app-header class="nav"></app-header>
<div class="container w-100 h-h-400 d-flex flex-column align-items-center justify-content-center position-relative">
    <div class="progress-bar-container" [style.display]="getProgressPercentage()>100 ? 'none' : 'block'">
        <div class="progress-bar" [style.width]="getProgressPercentage() + '%'"></div>
      </div>
    <div class="d-flex my-5 h-h-200 position-relative w-100 flex-column align-items-start">
        <div *ngIf="currentQuestionIndex < questions.length">
            <h2>{{ questions[currentQuestionIndex].text }}</h2>
          
          <!-- Check the question type and display the appropriate input -->
          <ng-container *ngIf="questions[currentQuestionIndex].type === 'range'; else radioSection">
            <input type="range" min="1" max="10" [(ngModel)]="selectedChoices[currentQuestionIndex]" />
            <p>{{ selectedChoices[currentQuestionIndex]<1? 'None': selectedChoices[currentQuestionIndex]<4 ? 'Mild': selectedChoices[currentQuestionIndex]<6 ? 'Moderate': selectedChoices[currentQuestionIndex]<8 ?'Sever':selectedChoices[currentQuestionIndex]<10 ? 'Very Severe': 'Worst pain possible' }}</p>
          </ng-container>
          
          <ng-template #radioSection>
            <div *ngFor="let choice of questions[currentQuestionIndex].choices; let i=index" class="cp radio-container">
              <input class="cp radio-input" id="{{choice}}" type="radio" [(ngModel)]="selectedChoices[currentQuestionIndex]" [value]="questions[currentQuestionIndex].values[i]" required [ngClass]="{'invalid-answer': userAttemptedToMoveNext && selectedChoices[currentQuestionIndex] === -1}"/>
              <label class="mx-2 cp" for="{{choice}}">{{ choice }}</label>
            </div>
          </ng-template>
          
          <!-- Navigation buttons -->
          <button (click)="previousQuestion()" class="h-bg-primary position-absolute back-btn" [ngClass]="{'btn-danger': currentQuestionIndex === 0, 'btn-without-border': currentQuestionIndex !== 0 }">{{ currentQuestionIndex === 0 ? 'Cancel' : 'Back' }}</button>
          <button (click)="nextQuestion()" class="position-absolute next-btn">Next</button>
          </div>
          
          <div class="position-relative w-100 d-flex flex-column gap-2" *ngIf="currentQuestionIndex === questions.length">
            <h2>Review Your Answers</h2>
            <div class="answers-review w-100">
                <div *ngFor="let question of questions; let i = index">
                    <p>{{ question.text }}</p>
                    <ul *ngIf="selectedChoices && question.choices">
                        <li>
                        {{ question.choices[selectedChoices[i]]}}
                        </li>
                    </ul>
                </div>
            </div>
            <button (click)="previousQuestion()" class="position-absolute back-btn">Back</button>
            <button (click)="submitAnswers()" class="position-absolute next-btn">Submit</button>
          </div>
    </div>
</div>