<div class="edit-page">
    <div class="page-content">
      <div class="row">
        <div class="col col-md-4">
          <img class="img-avatar" src="{{item.avatar}}">
          <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Avatar</button>
        </div>
        <div class="col col-md-8">
  
          <form *ngIf="item && exampleForm" class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">


            <!-- Email input -->
            <mat-form-field class="input-style">
              <label for="email">Email</label>
              <input matInput placeholder="Email" class="form-control" formControlName="email" type="email" [(ngModel)]="item.email" value="{{item.email}}">
            </mat-form-field>

            <!-- Name input -->
            <mat-form-field class="input-style">
              <label for="name">Name</label>
              <input matInput placeholder="Name" class="form-control" formControlName="name" [(ngModel)]="item.name" value="{{item.name}}">
            </mat-form-field>

            <!-- Surname input -->
            <mat-form-field class="input-style">
              <label for="surname">Surname</label>
              <input matInput placeholder="Surname" class="form-control" formControlName="surname" [(ngModel)]="item.surname" value="{{item.surname}}">
            </mat-form-field>

            <!-- Ville input -->
            <mat-form-field class="input-style">
              <label for="ville">Ville</label>
              <input matInput placeholder="Ville" class="form-control" formControlName="ville" [(ngModel)]="item.ville" value="{{item.ville}}">
            </mat-form-field>
  
            <div class="row submit-button-container">
              <div class="col-md-4">
                <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Save</button>
              </div>
              <div class="col-md-4">
                <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  