/* .backg{
  background: url('../../../../assets/images/Baby Pink Thin Line Pattern Background Wallpaper Image For Free Download - Pngtree.jpg') ;
  background-size: cover;
  height: 100%;
  padding-bottom: 190px !important;
  margin-bottom: 0px !important;
  padding-top: 20px;
} */
