<!-- <app-container-form [imagetest]="image"> -->
    <div class="container w-100 d-flex justify-content-center">
        <div class="d-flex h-h-400 align-items-center justify-content-start w-50">
            <form action="" method="post" (ngSubmit)="onSubmit()">
                <div class="w-100 d-flex flex-column align-items-start gap-0">
                  <div class="sm:col-span-4 mb-4">
                    <div>
                        <input [(ngModel)]="email" id="email" name="email" type="email" autocomplete="email" class="form-control border-bottom-input" placeholder="Exemple@gmail.com">
                    </div>
                  </div>
          
                  <div>
                    <div>
                        <input [(ngModel)]="password" id="password" name="password" type="password" autocomplete="password" class="form-control border-bottom-input" placeholder="Password">
                    </div>
                  </div>
                  <div class="flex flex-row mt-4">
          
                    <button type="submit" class="btn h-bg-primary"> {{"LOGIN"|translate}} </button>
          
                    <span> {{"Vous n'avez pas un compte"|translate}} <a routerLink='/register' (click)="navigateTo('newuser')" class="cp fc-primary"  > {{"S'incrire"|translate}} </a> </span>
          
                  </div>
          
                </div>
            </form>
        </div>
    </div>
  <!-- </app-container-form> -->