<app-header class="nav"></app-header>
<div class="container w-100 d-flex flex-column align-items-center justify-content-center">
  <div *ngIf="currentQuestionIndex < questions.length">
    <h2>{{ questions[currentQuestionIndex].text }}</h2>
  
  <!-- Check the question type and display the appropriate input -->
  <ng-container *ngIf="questions[currentQuestionIndex].type === 'range'; else checkboxSection">
    <input type="range" min="1" max="10" [(ngModel)]="selectedChoices[currentQuestionIndex]" />
    <p>Value: {{ selectedChoices[currentQuestionIndex] }}</p>
  </ng-container>
  
  <ng-template #checkboxSection>
    <div *ngFor="let choice of questions[currentQuestionIndex].choices">
      <input type="checkbox" [(ngModel)]="selectedChoices[currentQuestionIndex][choice]" [value]="choice" />
      {{ choice }}
    </div>
  </ng-template>
  
  <!-- Navigation buttons -->
  <button (click)="previousQuestion()">Back</button>
  <button (click)="nextQuestion()">Next</button>
  </div>
  
  <div *ngIf="currentQuestionIndex === questions.length">
    <h2>Review Your Answers</h2>
    <div *ngFor="let question of questions; let i = index">
      <p>{{ question.text }}</p>
      <ul>
        <li *ngFor="let choice of question.choices">
          {{ choice }}: {{ selectedChoices[i][choice] }}
        </li>
      </ul>
    </div>
    <button (click)="submitAnswers()">Submit</button>
  </div>  
</div>