<div class="create-page">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item active" aria-current="page">Create User</li> -->
      </ol>
    </nav>
    <div class="page-content">
      <div class="row">
        <div class="col col-md-4">
          <img class="img-avatar" src="{{avatarLink}}">
          <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Image</button>
        </div>
  
        <div class="col col-md-8">
  
        <div *ngIf="exampleForm">
          <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
  
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput placeholder="Email" class="form-control" formControlName="email" type="email">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.email">
                <mat-error *ngIf="exampleForm.get('email')?.hasError(validation.type) && (exampleForm.get('email')?.dirty || exampleForm.get('email')?.touched)">
                    {{validation.message}}
                </mat-error>
              </ng-container>
            </div>

            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput placeholder="Password" class="form-control" formControlName="password" type="password">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.password">
                <mat-error *ngIf="exampleForm.get('password')?.hasError(validation.type) && (exampleForm.get('password')?.dirty || exampleForm.get('password')?.touched)">
                    {{validation.message}}
                </mat-error>
              </ng-container>
            </div>

            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput placeholder="Name" class="form-control" formControlName="name">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.name">
                <mat-error *ngIf="exampleForm.get('name')?.hasError(validation.type) && (exampleForm.get('name')?.dirty || exampleForm.get('name')?.touched)">
                    {{validation.message}}
                </mat-error>
              </ng-container>
            </div>
  
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput placeholder="Surname" class="form-control" formControlName="surname">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.surname">
                <mat-error *ngIf="exampleForm.get('surname')?.hasError(validation.type) && (exampleForm.get('surname')?.dirty || exampleForm.get('surname')?.touched)">
                    {{validation.message}}
                </mat-error>
              </ng-container>
            </div>
  
            <div class="row submit-button-container">
              <div class="col-md-4 d-flex flex-column gap-2">
                <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Create</button>
                <span> {{'Vous avez un compte'|translate}} <a routerLink='/register' (click)="navigateTo('login')" class="cp fc-primary"  > {{'LOGIN'|translate}} </a> </span>
              </div>
            </div>
  
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>