<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hero p-0 m-0 d-flex flex-column align-items-center">
        <app-header></app-header>
        <div class="blue-overlay"></div>
        <div class="row hero-content h-100 container d-flex align-items-center justify-content-center w-100 p-0 m-0">
            <div class="col-md-6 h-100">
                <app-left-landing></app-left-landing>
            </div>
            <div class="col-md-6 h-100">
                <app-right-landing></app-right-landing>
            </div>
        </div>
    </div>
    <div class="hero-bottom w-100 my-5">
        <div class="w-100 d-flex flex-column align-items-center">
            <h5 class="title-5 p-0 m-0">Discover</h5>
            <p class="description-5 p-0 m-0">Our Services</p>
        </div>

        <div class="list-articles w-100 container d-flex justify-content-center my-5">
            <div class="row w-75 d-flex">
                <div class="col-md-4 p-1">
                    <div class="article-card a1">
                        <img src="../../../assets/images/symptom.png" alt="" width="40%">
                        <h2 class="article-title mt-3">Diagnostic test</h2>
                        <p class="article-description">"Discover your potential endometriosis diagnostic"</p>
                    </div>
                </div>
                <div class="col-md-4 p-1">
                    <div class="article-card a2">
                        <img src="../../../assets/images/books.png" alt="" width="40%">
                        <h2 class="article-title mt-3">Endo informations</h2>
                        <p class="article-description">"Stay informed about endometriosis"</p>
                    </div>
                </div>
                <div class="col-md-4 p-1">
                    <div class="article-card a3">
                        <img src="../../../assets/images/diagram.png" alt="" width="40%">
                        <h2 class="article-title mt-3">Pain evolution</h2>
                        <p class="article-description">"Explore your pain journey"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-us-section w-100 mb-5 p-5 about">
        <div class="container">
            <div class="row px-5">
                <div class="col-md-4">
                    <img src="../../../assets/images/logover.png" width="220" alt="About Us Image" class="img-fluid">
                </div>
                <div class="col-md-8 d-flex flex-column justify-content-center">
                    <h2 class="section-title">About Us</h2>
                    <p class="section-description">
                        Pain care is a comprehensive set of care services dedicated to addressing and managing pain. We understand the importance of staying informed about conditions like endometriosis to provide tailored and effective solutions.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer h-bg-primary text-light py-3 w-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-text m-0">© 2024 Pain Care</p>
                </div>
                <div class="col-md-6 text-end">
                    <span class="footer-link">Privacy Policy</span>
                    <span class="mx-2">|</span>
                    <span class="footer-link">Terms of Service</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>