<div class="quote container col-md-6 h-h-400 w-100 d-flex flex-column gap-3 align-items-center justify-content-center">
    <div class="w-100 d-flex flex-column align-items-start">
        <h3>
            {{ 'HomeQuote' | translate}}
            <br/>
            <span class="in-quote">{{ 'HomeQuoteReste' | translate}}</span>
        </h3>
    </div>
    <div class="w-100 d-flex justify-content-start">
        <button
        class="try-btn"
        (click)="navigateTo('login')" 
        mat-raised-button>
          {{"tryNow" | translate}} !
        </button>
    </div>
</div>