<div class="col-md-12 mb-4">
    <div class="article-card d-flex align-items-center gap-3 p-0">
        <div class="h-100 d-flex px-5 align-items-center article-img">
            <img src="../../../assets/images/faq.png" alt="" height="40%">
        </div>
        <div class="h-100 article-text px-3 w-100 d-flex flex-column justify-content-center align-items-start">
            <h2 class="article-title mt-3">{{title}}</h2>
            <p class="article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores atque sequi deleniti aspernatur, debitis sint enim voluptatum impedit corrupti laborum alias sed ad eos doloremque voluptates nesciunt labore neque fuga.</p>
        </div>
    </div>
</div>