<app-header class="nav"></app-header>
<app-container-form [imagetest]="image">
  <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="w-100 ms-5">
    <h2 class="pb-3">Publish Blog</h2>
    <div class="form-group mb-2">
      <label for="title">Title:</label>
      <input type="text" id="title" class="form-control" formControlName="title" required>
      <ng-container *ngFor="let validation of validation_messages.title">
        <mat-error *ngIf="blogForm.get('title')?.hasError(validation.type) && (blogForm.get('title')?.dirty || blogForm.get('title')?.touched)">
            {{validation.message}}
        </mat-error>
      </ng-container>
    </div>


    <div class="form-group mb-2">
      <label for="description">Description:</label>
      <textarea id="description" class="form-control" formControlName="description" required></textarea>

      <ng-container *ngFor="let validation of validation_messages.description">
        <mat-error *ngIf="blogForm.get('description')?.hasError(validation.type) && (blogForm.get('description')?.dirty || blogForm.get('description')?.touched)">
            {{validation.message}}
        </mat-error>
      </ng-container>

    </div>

    <div class="gorm-group mb-2">
      <div class="col-12">
        <label for="cover-photo" class="form-label">Image</label>
        <label for="image" class="cursor-pointer rounded-lg border border-dashed border-secondary  bg-white font-weight-bold w-100">

          <div class="mt-2 d-flex justify-content-center  px-6 py-10 h-75">
            <div class="text-center">
              <svg class="mx-auto h-12 w-12 text-secondary" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
              </svg>
              <div class="mt-4 d-flex text-sm">
                  <span>Upload a file</span>
                  <input id="image" name="image" type="file" class="sr-only" formControlName="image" (change)="onFileSelected($event)" accept="image/*" required  >
                <p class="pl-1">or drag and drop</p>
              </div>
              <p class="text-xs text-secondary">PNG, JPG, GIF up to 10MB</p>
            </div>
          </div>
        </label>

      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3" [disabled]="blogForm.invalid">Submit</button>
  </form>
</app-container-form>

