<div class="w-100 h-100 p-3 rounded-3 score-container d-flex justify-content-between align-items-center">
    <div class="score-text">
        <h4>{{"LastScore"|translate}}</h4>
        <p>{{"LastScoreDesc"|translate}}</p>
    </div>
    <div class="score-img-container h-80 position-relative d-flex align-items-center justify-content-center">
        <img src="../../../assets/images/score.png" alt="" height="100">
        <h5 class="position-absolute fw-600 fs-16">
            {{score}}
        </h5>
    </div>
</div>
